# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
numpy=1.21.2=py39hdbf815f_0
pandas=1.3.3=py39hde0f152_0
python=3.9.7=hb7a2778_1_cpython
scipy=1.8.0=py39hee8e79c_1